academictorrents==2.3.3
albumentations==1.2.1
diffusers==0.2.4
einops==0.4.1
fire==0.4.0
ftfy==6.1.1
imageio==2.9.0
imwatermark==0.0.2
invisible_watermark==0.1.5
ipython==8.4.0
ipywidgets==8.0.2
kornia==0.6.7
more_itertools==8.7.0
natsort==8.2.0
numpy==1.23.1
omegaconf==2.2.3
opencv_python==4.5.1.48
packaging==21.3
Pillow==9.2.0
protobuf==4.21.5
pudb==2022.1.2
pytest==7.1.3
pytorch_lightning==1.7.4
PyYAML==6.0
regex==2022.7.25
requests==2.25.1
scann==1.2.7
scikit_image==0.19.3
scipy==1.9.1
setuptools==47.1.0
skimage==0.0
streamlit==1.12.2
torch==1.12.0+cu113
torchvision==0.13.0+cu113
tqdm==4.60.0
transformers==4.19.2
typing_extensions==4.3.0
